.profile-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
    box-shadow: 2px 2px 5px 10px var(--secondary-color);
    border-radius: 0.7rem;
    padding: 1rem;

}

.header {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.address-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;
}

.address-button {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.address-button button {
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border: 2px solid var(--secondary-color);
    cursor: pointer;
    font-weight: 700;
}

.edit-btn:hover {
    background-color: var(--secondary-color);
}

.remove-address-btn {
    color: red;

}

.remove-address-btn:hover {
    background-color: var(--primary-color);
    color: white
}

/* styles in Address Form */
.form-address{
    display: flex;
    flex-direction: column;
    width:500px;
    height: 100vh;
    border: 1px solid black;
    align-items: center;
    padding: 2rem;
    justify-content: center;

    
}
.input-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}