
.not-a-link {
    text-decoration: none;
}

.navbar {
    /* border: 1px solid black; */
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* padding: 0.5rem 1rem; */
    box-shadow: 0 2px 5px 5px var(--secondary-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-bottom: 3rem;
    background-color: white;
    z-index: 1;

}

.nav-header {
    color: var(--primary-color);
    margin-left: 5rem;
    margin-top: 1.5rem;
}

.search-container {
    display: flex;
}

.search-container div {
    position: relative;
}

.search-container em {
    position: absolute;
    background-image: url("../../assests/searchicon.svg");
    background-repeat: no-repeat;
    display: inline-block;
    width: 25px;
    height: 25px;
    top: 30px;
    left: 135px;

}

.nav-input {
    border-radius: 0.5rem;
    width: 500px;
    height: 40px;
    border: 1px solid var(--secondary-color);
    margin: 1.5rem 0rem 1.5rem 8rem;
    padding: 0px 20px 0px 40px;
    font-family: inherit;
    font-size: 1rem;

}

.navbar-nav {
    display: flex;
    width: 30%;
    gap: 3rem;
    justify-content: center;
    margin: 1rem 2rem;
    position: relative;
    right: 50;

}

.login {
    border: 2px solid var(--primary-color);
    padding: 1rem;
    border-radius: 0.5rem;
}

.login:hover {
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
}

.icon-style {
    font-size: 1.5rem;
    padding-top: 1rem;
}

.icon-style:hover {
    color: var(--primary-color);
}