/* .wishlist-container {
    margin-top: 200px;
} */

.wishlist-body {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    margin-top: 3rem;
}

.wishlist-header {
    margin-top: 10rem;
}

.Toastify__toast-body div {
    text-align: start;
}